
 body{
    
    margin-top:0px;
    padding: 0px;
}
.bg-light-primary {

}
.truncate-text {
        width: 100%; /* Set the width of the element */
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Display an ellipsis (...) for truncated text */
}
.pb-6, .py-6 {
    padding-bottom: 3.75rem!important;
}
.pt-6, .py-6 {
    padding-top: 3.75rem!important;
}
.hover-scale, .hover-scale:hover {
    transition: transform .2s ease-in;
}
 a:hover {
        text-decoration: none;
    }
p{
    font-family: monospace;
} 
h1{
    font-family: fantasy;
}

.btn{
      padding: 12px 35px;
      border-radius:0px;
      background: #333;
      border: none;
      font-size: 17px;
/*      font-weight:700;*/
      color: white;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      align-items: center;
}
.btn:hover {
    border: none;
    background-color: #f7941d;
    color: white;


}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    box-shadow: 2px 2px 8px grey;
    border-radius: .4rem;
    
}
.cat-high{
    color: white;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}


/* CSS */
.custom-card{
    border: none;
}
.custom-card:hover {
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    border: none;
}

 .main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .child-div {
    width: 23%; /* Adjust as needed */
    margin-bottom: 20px;
    text-align: center;
  }
  .child-div img {
    width: 100%;
    max-width: 550px;
    height: auto;
  }
  .child-div p {
    color: black;
    margin-top: 10px;
    font-size: 1rem;
  }
  .child-div button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
.child-div button:hover{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f7941d;
    color: #fff;
    border: none;
    cursor: pointer;
}
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .child-div {
      width: 90%;
    }
  }

  .custom-section {
      height: 500px;
      background-color: orange;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .custom-section h1,h4,p{
        color: white;
    }
    .banner-container button{
    padding: 12px 35px;
    border-radius:0px;
      background: white;
      border: none;
      font-size: 17px;
/*      font-weight:700;*/
      color: black;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      align-items: center;
}   
.banner-container button:hover{
    padding: 12px 35px;
    border-radius:0px;
      border: 1px solid white;
      font-size: 17px;
/*      font-weight:700;*/
      color: white;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      align-items: center;
}   

    /*.custom-section h1{
        color: white;
    }*/

 /*.category {
    background-color:yellow;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.category img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Media queries for responsiveness */
/*@media (max-width: 768px) {
    .col-lg-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
*/
#category {
background: linear-gradient(180deg, rgba(0, 128, 128, 0) 0%, rgba(0, 134, 134, 0.5) 70%, rgba(255, 156, 156, 0.5) 60%, rgba(255, 156, 92, 0) 100%);
}


/* Newsletter Section */
.shop-newsletter {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.shop-newsletter .inner-top {
    text-align: center;
}

.shop-newsletter h4 {
    font-size: 28px;
    font-family: fantasy;
    color: #333;
    margin-bottom: 20px;
}

.shop-newsletter p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
}
.shop-newsletter p span{
    color: #f7941d;
    text-decoration: underline;
}
.shop-newsletter .newsletter-inner {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}

.shop-newsletter input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #f7941d;
    border-radius: 30px 0px 0px 30px;
    font-size: 16px;
    color: #333;

}
.shop-newsletter button {
   background-color: #f7941d;
   border-radius: 0px 30px 30px 0px;
}


.shop-newsletter .btn:hover {
    background-color: #333;
}

.swiper {
      width: 100%;
      height: 500px;
      border: none;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #333;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  

.slide-content {

  flex: 1;
  padding: 20px;
}

.slide-content h1 {
  margin-top: 0;
  color: white;
}

.slide-content p {
  margin-bottom: 0;
  
}
.slide-content span{
    color: #f7941d;
}

.slide-content img {
  max-width: 100%;
  height: auto;
}

