{% extends "layout.html" %}
{% block body %}

{% block title %}Contact us{% endblock %}

{% block header %} 

{%endblock%}

 <!--Developer events start-->

<section class="my-xl-9 my-5">
    <div class="container">
        <div class="row align-items-center g-5">
            <div class="col-lg-6">
                <div class="mb-5">
                    <h1 class=" h1 mb-3">
                        Be a part of the first official
                        <span class="text-primary">#1 developer</span>
                        event.
                    </h1>
                    <p class=" p lead mb-0">
                        Developer productivity significantly impacts
                        software quality. Reduced productivity can leave
                        room for bugs and technical errors that affect a
                        product’s quality.
                    </p>
                </div>
                <ul class="mb-5 list-unstyled">
                    <li class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor"
                            class="bi bi-check-circle-fill text-primary mt-1"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <span class="ms-2"><p class="p">Attendance is free. Join the
                            event from anywhere.</p></span>
                    </li>
                    <li class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor"
                            class="bi bi-check-circle-fill text-primary mt-1"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <span class="ms-2"><p class="p">Enjoy technical, code-driven
                            sessions for developers.<p></span>
                    </li>
                    <li class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor"
                            class="bi bi-check-circle-fill text-primary mt-1"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <span class="ms-2"><p class="p">Join live Q&A in the events with
                            industry experts.<p></span>
                    </li>
                </ul>
                <a href="#speaker">
                    See Speakers
                    <span class="ms-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                </a>
            </div>
            <div class="col-lg-6">
                <figure>
                    <img src="static/images/teammember1.jpg"
                        alt="events" class="img-fluid rounded-3" />
                </figure>
            </div>
        </div>
       </div>
</section>
<!--Developer events end-->


<!--Who we are start-->
<section class="my-xl-9 my-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-5 col-lg-6 col-12">
                <div class="mb-4">
                    <h1 class="h1 mt-4 mb-3">Believes in the power of
                        creative strategy.</h1>
                    <p class="mb-3">We are a web design and development
                        agency. We specialise in bridging the gap between
                        our clients and their goals.</p>
                    <p class="mb-0">Consequat mauris nunc congue nisi vitae
                        suscipit tellus mauris a. Amet mattis vulputate enim
                        nulla aliquet porttitor lacus.</p>
                </div>

                <a href="./about.html" class="icon-link icon-link-hover">
                    More about us
                    <svg xmlns="http://www.w3.org/2000/svg" width="14"
                        height="14" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </a>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6 col-12">
                <div class="row g-4">
                    <div class="col-lg-6 col-md-6 col-12">
                        <a href="#!">
                            <div class="rounded-3 card-lift" style="
    background-image: url(static/images/teammember1.jpg);
    background-repeat: no-repeat;
    height: 386px;
    background-size: cover;
"></div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <a href="#!">
                            <div class="mb-4 rounded-3 card-lift" style="
    background-image: url(static/images/teammember1.jpg);
    background-repeat: no-repeat;
    height: 180px;
    background-size: cover;
"></div>
                        </a>
                        <a href="#!">
                            <div class="mb-2 rounded-3 card-lift" style="
    background-image: url(static/images/teammember1.jpg);
    background-repeat: no-repeat;
    height: 180px;
    background-size: cover;
"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Who we are end-->

<!--Expert team start-->
<section>
    <div class="container">
        <div class="row border-top border-bottom">
            <div
                class="col-md-4 border-end-md border-bottom border-bottom-md-0">
                <div class="text-center py-lg-5 p-4">
                    <div class="mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32"
                            height="32" fill="currentColor"
                            class="bi bi-people-fill text-primary"
                            viewBox="0 0 16 16">
                            <path
                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                        </svg>
                    </div>
                    <div>
                        <h4>Expert Team</h4>
                        <p class="mb-0">Vivamus eget neque lacus.
                            Pellentesque egauris ex.</p>
                    </div>
                </div>
            </div>
            <div
                class="col-md-4 border-end-md border-bottom border-bottom-md-0">
                <div class="text-center py-lg-5 p-4">
                    <div class="mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32"
                            height="32" fill="currentColor"
                            class="bi bi-trophy-fill text-primary"
                            viewBox="0 0 16 16">
                            <path
                                d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z" />
                        </svg>
                    </div>
                    <div>
                        <h4>Award winning agency</h4>
                        <p class="mb-0">Lorem ipsum, dolor sit amet
                            consectetur elitorceat .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center py-lg-5 p-4">
                    <div class="mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32"
                            height="32" fill="currentColor"
                            class="bi bi-stars text-primary"
                            viewBox="0 0 16 16">
                            <path
                                d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z" />
                        </svg>
                    </div>
                    <div>
                        <h4>10 Year Exp.</h4>
                        <p class="mb-0">Pellen tesque eget, mauris lorem
                            iupsum neque lacus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Expert team end-->













 <!--5m member start-->
<section class="py-xl-9 py-5 bg-primary-dark" style="background-color: #532599 !important;">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-12">
                <div class="text-center mb-xl-7 mb-5">
                    <h2 class="text-white-stable mb-3">Why do over 5M
                        members love?</h2>
                    <p class="mb-0 text-white-50">
                        Enim sed parturient sem enim nunc sit erat velit
                        eget hac nulla nullam et id praesent nisi ornare
                        risus risus consequat nunc nisl pellentesque diam
                        neque.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-7 pb-4 g-5 text-center text-lg-start">
            <div class="col-md-4">
                <h4 class="text-white-stable">Flexible payments</h4>
                <p class="text-white-50 mb-0">you are able to run your
                    business smoothly; handle your daily expenses and secure
                    your cash flow.</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-white-stable">Smart payments</h4>
                <p class="text-white-50 mb-0">Nullam sodales, libero ac
                    dictum convallis, ipsum diam cursus stibulum lacinia
                    ultricies eleifend..</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-white-stable">Easy administration</h4>
                <p class="text-white-50 mb-0">In a odio sit amet nisi
                    tincidunt congue. Mauris cursus magna a vestibulum
                    rutrum. Vivamus sit amet luctus leo.</p>
            </div>
        </div>
        <div class="row border-primary border-top g-5 g-lg-0 text-center text-lg-start"
           >
            <div class="col-lg-3 col-6 border-end-lg border-md-0 border-lg-primary"
               >
                <div class="p-lg-5">
                    <h5 class="h1 text-white-stable mb-0">5M+</h5>
                    <span class="text-white-50">Members</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 border-end-lg border-md-0 border-lg-primary"
               >
                <div class="p-lg-5">
                    <h5 class="h1 text-white-stable mb-0">95%</h5>
                    <span class="text-white-50">Customer satisfaction</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 border-end-lg border-md-0 border-lg-primary"
               >
                <div class="p-lg-5">
                    <h5 class="h1 text-white-stable mb-0">73%</h5>
                    <span class="text-white-50">Over year growth</span>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="p-lg-5">
                    <h5 class="h1 text-white-stable mb-0">250B</h5>
                    <span class="text-white-50">Money managed</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--5m member end-->


{% endblock %}
