

<style>

    /* Add a hover effect to the card */
    .card:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    }

    /* Remove border and box-shadow by default */
    .card {

        background-color: white;
        display: flex;
        justify-content: flex-end;
        border: none;
        box-shadow: none;
        transition: transform 0.3s ease;
    }

    /* Add a hover effect to the card */
    .card:hover {
        transform: translateY(-5px);
/*        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);*/
    }
    .btn{
        background-color: black;

    }
    .btn:hover {
  border: none;
  animation-name: tada;
  animation-duration: 1s;
  background-color: #C7C8CC;
}
</style>


                    {% for filter in filters %}
                        <div class="col-lg-12 mb-4">
                            <div class="card">
                               <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center">
                                <!-- Product image with alt text -->
                                <img class="card-img-top" src="{{ filter.photo_url }}" alt="product Image" style="margin-top: 10px;" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <!-- Product details -->
                                    <h5 class="card-title">{{ filter.productname }}</h5>
                                    <!-- Product reviews -->
                                    <p class="card-text">Price: {{ filter.price }} $</p>
                                    <!-- Buttons with reduced width -->
                                    <div class="d-flex justify-content-between">
                                        <a href="{{filter.laptops_href}}" target="_blank" style="width: 40%;" class="btn btn-primary">View Product</a>
                                        <a href="{{ url_for('product_comparison', product_id=filter.id, product_show=filter.laptops_href, product_name=filter.productname) }}" style="width: 40%;" class="btn btn-dark">Compare Product</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    {% endfor %}
