{% extends "layout.html" %}
{% block body %}
<!-- This is the code for spinner in loading the page -->
<!-- <div id="loading-overlay">
    <div class="spinner-container">
      <div class="spinner">
        <div class="spinner">
          <div class="spinner">
            <div class="spinner">
              <div class="spinner">
                <div class="spinner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<section class="py-6 bg-light-primary">
    <div class="container">
            <div class="row justify-content-center text-center mb-4">
                <div class="col-xl-6 col-lg-8 col-sm-10">
                    <h1 class="font-weight-bold display-6"  data-aos="zoom-in-up">The High Rank Calogories of intellicompare</h1>
                    <p class="text-muted mb-0"  data-aos="zoom-in-up">We bring the results while helping you achieve cost and time savings without taking on different websites</p>
                </div>

            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center px-xl-6 aos-init aos-animate" >
                <a href="http://127.0.0.1:5000/mobiles">
                    <div class="col my-3" data-aos="zoom-in-up">
                        <div class="card border-hover-primary hover-scale ">
                            <div class="card-body"> <!-- Set a fixed height here -->
                                <div class="text-primary mb-5">
                                    <img src="static\images\smartphone.png" width="70" height="80">
                                </div>
                                <h6 class="cat-high font-weight-bold mb-3 " >Mobiles</h6>
                                <p class="text-muted mb-0 truncate-text" title="Experience innovation at your fingertips">Experience innovation at your fingertips </p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="http://127.0.0.1:5000/laptops">
                <div class="col my-3" data-aos="zoom-in-up">
                    <div class="card border-hover-primary hover-scale ">
                        <div class="card-body">
                            <div class="text-primary mb-5">
                               <img src="static\images\laptop.png" width="70" height="80">
                            </div>
                            <h6 class=" cat-high font-weight-bold mb-3" >Laptops</h6>
                            <p class="text-muted mb-0 truncate-text" title="Powerful performance in portable packages" >Powerful performance in portable packages</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="#">
                <div class="col my-3 "  data-aos="zoom-in-up" >
                    <div class="card border-hover-primary hover-scale ">
                        <div class="card-body">
                            <div class="text-primary mb-5">
                                <img src="static\images\smartwatch.png" width="70" height="80">

                            </div>
                            <h6 class=" cat-high font-weight-bold mb-3">Smart Watches</h6>
                            <p class="text-muted mb-0 truncate-text" title="Redefine your lifestyle with our Smartwatches">Redefine your lifestyle with our Smartwatches</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="#">
                <div class="col my-3" data-aos="zoom-in-up">
                    <div class="card border-hover-primary hover-scale ">
                        <div class="card-body">
                            <div class="text-primary mb-5">
                                <img src="static\images\skin&beauty.png" width="70" height="80">
                            </div>
                            <h6 class="cat-high font-weight-bold mb-3">Body & Skin</h6>
                            <p class="text-muted mb-0 truncate -text" title="Discover beauty with our skincare essentials">Discover beauty with skincare</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="https://www.layers.shop/en-us">
                <div class="col my-3" data-aos="fade-up" data-aos="zoom-in-up">
                    <div class="card border-hover-primary hover-scale ">
                        <div class="card-body">
                            <div class="text-primary mb-5">
                                <img src="static\images\clothes.png" width="70" height="80">
                            </div>
                            <h6 class=" cat-high font-weight-bold mb-3" >Clothes</h6>
                            <p class="text-muted mb-0 truncate-text" title="Chic styles for every vibe">Chic styles for every vibe</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="#">
                <div class="col my-3" data-aos="fade-up" data-aos="zoom-in-up">
                    <div class="card border-hover-primary hover-scale ">
                        <div class="card-body">
                            <div class="text-primary mb-5">
                               <img src="static\images\game-pad.png" width="70" height="80">

            
                            </div>
                            <h6 class="cat-high font-weight-bold mb-3 " >Gaming Accessories</h6>
                            <p class="text-muted mb-0 truncate-text" title="Enhance your game with top-notch accessories">Enhance your game with top-notch accessories</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="#">
                <div class="col mb-0 mt-3 mb-lg-3" data-aos="fade-up" data-aos-duration="4000">
                    <div class="card border-hover-primary hover-scale ">
                        <div class="card-body">
                            <div class="text-primary mb-5">
                                <img src="static\images\shoes.png" width="70" height="80">
                            </div>
                            <h6 class="cat-high font-weight-bold mb-3" >Shoes</h6>
                            <p class="text-muted mb-0 truncate-text" title="Step into style and comfort with our trendy shoe collection Step into style and comfort with our trendy shoe collection"><font>Step into style and comfort with our trendy shoe collection Step into style and comfort with our trendy shoe collection</font></p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
    	</div>
    </div>
</section>


<!-- Trending items-->
<section>
    <h1 align="center">Trending Items</h1>
    <br>
 <section class="main-section">
    <div class="child-div">
      <img src="https://via.placeholder.com/550x750" alt="Image 1">
      <p>Awesome Bags Collection</p>
        <p>10.0$</p>

      <button>Amazon</button>
    </div>
    <div class="child-div">
      <img src="https://via.placeholder.com/550x750" alt="Image 2">
      <p>Awesome Bags Collection</p>
      <p>23.0$</p>
      <button>Daraz</button>
    </div>
    <div class="child-div">
      <img src="https://via.placeholder.com/550x750" alt="Image 3">
      <p>Awesome Bags Collection</p>
      <p>45.0$</p>
      <button>Amazon</button>
    </div>
    <div class="child-div">
      <img src="https://via.placeholder.com/550x750" alt="Image 4">
      <p>Awesome Bags Collection</p>
      <p>12.0$</p>
      <button>Ali Express</button>
    </div>
  </section>
</section>



 <section class="custom-section">
    <div class="banner-container text-center">
      <h1 data-aos="zoom-in" data-aos-duration="500">Find the Best Deals Across Platforms</h1>
      <h4 data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">Compare prices, features, and reviews</h4>
      <p data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">Discover the perfect product for you with our comprehensive comparison tool.<br> Whether you're shopping for electronics, appliances, or lifestyle products, we've got you covered.</p>
      <button class="btn">Start Comparing!</button>
    </div>
  </section>

    <br><br><br><br>
 <!-- <section class="py-6">
        <div class="container-fluid"> 
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <img src="static/images/index_banner1.png" alt="Banner Image" style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </section> -->








<!-- partial:index.partial.html -->
<div class="ag-format-container">
  <div class="ag-courses_box">


    <div class="ag-courses_item" >
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          SmartWatches&amp;Top Watches of Different Websites&#160;
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            Order Now
          </span>
        </div>
      </a>
    </div>


    <div class="ag-courses_item" >
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Sneaker&#160;+ Shoes <br>Shop sneakers and shoes for all.
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            Order Now
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          SmartPhones <br>Explore the latest smartphones now.&#160;2024
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            Order Now
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Chairs <br>Find your perfect chair today.
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            See More..
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Sports & Games<br>Elevate your game with top-tier sports gear.
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            See More..
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Computers&#160;<br>Upgrade experience with cutting-edge technology.
        </div>
        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            See More..
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg">
        </div>
        <div class="ag-courses-item_title">
          Books<br>Dive into  worlds with our book collection.
        </div>
        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            See More..
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Fitness<br>Transform your fitness journey.
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            See More..
          </span>
        </div>
      </a>
    </div>

  </div>
</div>
<!-- partial -->



<!--category    
<div class="container" id="category">
    <section>
        <div class="row">
            {% for category in categories %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 ">
                    <div class="card">
                        <a href="#">
                            <div class="card-body category" style="height: 220px; background: {{ category.color }} url('{{ url_for('static', filename='images/' + category.image) }}') center/contain no-repeat;">
                                <p class="card-text">{{ category.name }}</p>
                            </div>

                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
-->


<section class="py-6">
    <div class="container"  data-aos="zoom-in" data-aos-duration="2000">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="font-weight-bold display-4">31k Products in 29 Plus Categories. A single Objective.</h1>
                <p class="text-muted lead">We have been working for more than a decade to become your reference guide when it comes to comparisons. We are an impartial team of technology enthusiasts: our sole mission is to help you make informed decisions.</p>
                <a href="#" class="btn btn-dark btn-lg">See All Categories</a>
            </div>
        </div>
    </div>
</section>
<section class="py-6" >
    <div class="container" data-aos="zoom-in" data-aos-duration="2000">
        <div class="row">
            <div class="col-sm-6">
                <div class="card custom-card" style="border-radius: 10px; overflow: hidden;">
                    <div class="card-body" style="background-color: #f7941d; height: 300px; color: white; padding: 20px;">
                        <h2 class="card-title">Amazon</h2>
                        <p class="card-text">"Special thanks to Amazon for featuring their exceptional products on our platform. We greatly appreciate their collaboration, offering our users access to top-notch selections. Their support enhances our user experience and enriches our offerings immensely."</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" data-aos="zoom-in" data-aos-duration="2000">
                <div class="card custom-card" style="border-radius: 10px; overflow: hidden;">
                    <div class="card-body" style="background-color: #333; height: 300px; color: white; padding: 20px;">
                        <h2 class="card-title">Daraz</h2>
                        <p class="card-text">"Appreciation to Daraz for presenting their diverse range of products on our platform, enriching our users' choices. Their partnership contributes significantly to our platform's value and diversity. We're honored to feature Daraz products, enhancing our offerings for our users."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Swiper -->
<div class="swiper mySwiper">
   <div class="swiper-wrapper">
      <div class="swiper-slide">
         <div class="slide-content">
            <h1>Latest Mobile <span>Phones</span> </h1>
            <p>Discover the latest mobile phones with advanced features and stunning designs. Stay connected wherever you go with cutting-edge technology and seamless connectivity.</p>
         </div>
         <div class="slide-content">
            <img src="static/images/bag.png" alt="Image 1">
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <h1>Powerful <span>Laptops</span> for Every Need</h1>
            <p>Find the perfect laptop to suit your lifestyle and work requirements. From sleek ultrabooks for professionals to high-performance gaming laptops, explore a wide range of options.</p>
         </div>
         <div class="slide-content">
            <img src="static/images/bag.png" alt="Image 2">
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <h1>Stylish and Comfortable <span>Shoes</span></h1>
            <p>Step out in style and comfort with our collection of shoes. Whether you're looking for casual sneakers, elegant heels, or durable boots, we have something for every occasion.</p>
         </div>
         <div class="slide-content">
            <img src="static/images/bag.png" alt="Image 1">
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <h1>Fashionable <span>Bags</span> for Every Occasion</h1>
            <p>Complete your look with our stylish collection of bags. From chic handbags to practical backpacks, carry your essentials in style wherever you go.</p>
         </div>
         <div class="slide-content">
            <img src="static/images/bag.png" alt="Image 1">
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <h1>Timeless <span>Watches</span> for Every Wris</h1>
            <p>Accessorize with elegance and precision with our range of watches. Explore classic designs and modern innovations, and make a statement with a timepiece that reflects your personality.</p>
         </div>
         <div class="slide-content">
            <img src="static/images/bag.png" alt="Image 1">
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <h1>Stylish and Comfortable <span>Shoes</span></h1>
            <p>Step out in style and comfort with our collection of shoes. Whether you're looking for casual sneakers, elegant heels, or durable boots, we have something for every occasion.</p>
         </div>
         <div class="slide-content">
            <img src="static/images/bag.png" alt="Image 1">
         </div>
      </div>
   </div>
   <div class="swiper-pagination"></div>
</div>


<!-- Start Shop Newsletter  -->
    <section class="shop-newsletter section">
        <div class="container">
            <div class="inner-top">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <!-- Start Newsletter Inner -->
                        <div class="inner">
                            <h4 data-aos="zoom-in" data-aos-duration="500">Join us</h4>
                            <p data-aos="zoom-in-up" data-aos-duration="1000"> Subscribe to our Page and get all Information of the <span>Products</span> </p>
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="EMAIL" placeholder="Your email address" required="" type="email">
                                <button class="btn">Subscribe</button>
                            </form>
                        </div>
                        <!-- End Newsletter Inner -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop Newsletter -->



<!-- This is the  for fade in option in web page-->
<script>
  AOS.init();
</script>

 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
  </script>
  {% endblock %}
    
