<!DOCTYPE html>
<html lang="en">
    <head>
 <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}intellicompare{% endblock %}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
        <!-- HTMX LINK-->
            <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>


        <!-- Bootstrap animate-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"> -->
		 
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for ('static', filename='css/layout.css')}}" rel="stylesheet"/>

        <link href="{{ url_for ('static', filename='css/categorystyle.css')}}" rel="stylesheet"/>
        <link href="{{ url_for ('static', filename='css/styles.css')}}" rel="stylesheet"/>
        <link href="{{ url_for ('static', filename='css/indexstyle.css')}}" rel="stylesheet"/>
        <link href="{{ url_for ('static', filename='css/loading.css')}}" rel="stylesheet"/>
        <link href="{{ url_for ('static', filename='css/theme.css')}}" rel="stylesheet"/>

    </head>
    <body class="m-0 p-0" >

   <!-- Navigation-->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">
            <img src="static\images\logo.png" alt="Logo" height="100" width="200" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- Your other navbar items -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Catergories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Contact us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about_us')}}">
                        About us
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-bell"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">
                        Register
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% if 'email' in session %}
                        {{ session['email'] }}
                        {% else %}
                        <img src="{% if 'email' in session %} static\images\logo.png  {% else %} static\images\profile.png {% endif %}"
                            alt="Profile Picture" height="30" class="rounded-circle">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
                        {% if 'email' in session %}
                        <li><a class="dropdown-item" href="{{url_for('profile')}}">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('registration') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

        </div>
    </div>
</nav>
	

 
<!-- <div class="col-sm-8 offset-sm-2">
    <form method="post" action="/search">
        <div class="input-group">
            <input type="text" name="search_term" class="form-control rounded-pill" placeholder="Search products...." id="search_term" required>
            <div class="input-group-append">
               &nbsp <button type="submit" class="btn  bg-dark rounded-pill" name="Search"><font color="white">Search</font></button>
            </div>
        </div>
    </form>
</div> -->

<br>
{% block header %}
<div class="header-container">



    <div>
        <div class="search">
            <div class="col-sm-8 offset-sm-2">
                <form method="post" action="/search">
                    <div class="input-group">
                        <input type="text" name="search_term" class="form-control rounded-pill" placeholder="Search products...." id="search_term" required>
                            <div class="input-group-append">&nbsp 
                                <button type="submit" class="btn  bg-dark rounded-pill" name="Search"><font color="white">Search</font></button>
                            </div>
                    </div>
                </form>
            </div>
        </div>

<p>
    
        <h1 class="h1" >THE DIGITAL JOURNEY BY ZAIN CONTINUITY PLATFORM</h1>
        <p class="p">What if you could shape the customer journey to fit each and every shopper? Make any distraction magically disappear along.</p>
        
</p>
    </div>
    <div>
        <a href="">
        <button class="header-container-button"> Shop Now
         <div class="star-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 784.11 815.53"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
        <path
          class="fil0"
          d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
        ></path>
      </g>
    </svg>
  </div>
  <div class="star-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 784.11 815.53"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
        <path
          class="fil0"
          d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
        ></path>
      </g>
    </svg>
  </div>
  <div class="star-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 784.11 815.53"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
        <path
          class="fil0"
          d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
        ></path>
      </g>
    </svg>
  </div>
  <div class="star-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 784.11 815.53"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
        <path
          class="fil0"
          d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
        ></path>
      </g>
    </svg>
  </div>
  <div class="star-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 784.11 815.53"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
        <path
          class="fil0"
          d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
        ></path>
      </g>
    </svg>
  </div>
  <div class="star-6">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 784.11 815.53"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
        <path
          class="fil0"
          d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
        ></path>
      </g>
    </svg>
  </div>
  <div class="star-7">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 784.11 815.53"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs></defs>
      <g id="Layer_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"></metadata>
        <path
          class="fil0"
          d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
        ></path>
      </g>
    </svg>
  </div>
</button>

</a>
    </div>
</div>


{% endblock %}
{% block body %}  {% endblock %} 


 <!-- Footer-->
       <footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-white">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="link-to-amazon" class="text-white">Amazon</a></li>
                    <li><a href="link-to-daraz" class="text-white">Daraz</a></li>
                    <li><a href="link-to-ali-express" class="text-white">AliExpress</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">More Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="link-to-another-page" class="text-white">Another Page</a></li>
                    <li><a href="link-to-external-site" class="text-white">External Site</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="link-to-social-media" class="text-white">Social Media</a></li>
                    <li><a href="link-to-newsletter" class="text-white">Newsletter</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="m-0 text-white">Copyright &copy;intellicompare 2020-2024</p>
            </div>
        </div>
    </div>
</footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src=" {{ url_for ('static', filename='js/scripts.js ')}}"></script>
        <script src=" {{ url_for ('static', filename='js/loading.js ')}}"></script>


    </body>
</html>